# Configurações do Banco de Dados
DB_NAME=go_appa
DB_USER="goappa"
DB_PASSWORD="123456789"
DB_HOST=localhost
DB_PORT=5432

# Configuração do JWT
JWT_SECRET=sua_chave_secreta_super_secreta

# Porta do Servidor
PORT=3000
